.profile__edit-avatar-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  padding: 0;
  opacity: 0;
  transition: all 0.3s ease;
  border: unset;
  cursor: pointer;
  background: url(../../../images/edit.svg) center/26px 26px no-repeat;
}
.profile__edit-avatar-btn:hover {
  opacity: 1;
}
