.footer {
  display: flex;
  justify-content: flex-start;
  padding: 66px 0 60px;
}
@media screen and (max-width: 980px) {
  .footer {
    padding: 48px 19px 36px;
  }
}



/* .page__footer {
  margin: 66px auto 60px;
}

@media screen and (max-width: 767px) {
  .footer {
    margin: 48px auto 36px;
  }
} */
